<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App cosas perdidas | Inicio de sesión 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-wrapper">
    <div class="form-wrapper">
      <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
        <strong>Iniciar sesión</strong>
        <p></p>
        <input type="email" id="email" name="email" [(ngModel)]="emailInput"
          placeholder="Agrega correo" required #email="ngModel" />
        <input type="password" id="password" name="password" [(ngModel)]="passwordInput"
          placeholder="Agrega contraseña" required #password="ngModel" />
        <button type="submit" [disabled]="registerForm.invalid">
          Iniciar sesión
        </button>
      </form>
      <button type="button" (click)="onSignUp()">Crear cuenta</button>
      <button type="button" (click)="onForgot()">Olvidé mi contraseña</button>
      <p>
        We’ll never share your details. Read our
        <a href="https://www.youtube.com/watch?v=ehRB3JAOtdU">Privacy Policy</a>.
      </p>
    </div>
  </div>
</ion-content>