<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>logout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">logout</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
     <!-- Boton de cierre de sesion -->
      <button type="submit" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" [disabled]="registerForm.invalid">
        Cerrar sesión
      </button>
  </form>

    <!-- Boton para ir a home -->
    <button (click)="onSignUp()" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
      Home
    </button>

</ion-content>