<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>App cosas perdidas | Menu principal </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="page-container">

    <ion-card class="card-form">
      <ion-card-content>
        <h2 class="form-title">Agrega un objeto perdido</h2>
        <p></p>
        <div class="form-description">
          <p>Agrega un objeto perdido para verlo y ayudarte a encontrarlo o compartir lo que encontraste.</p>
        </div>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
          <input id="Nombre" name="Nombre" [(ngModel)]="PrendaInput"
            placeholder="Objeto" required #Nombre="ngModel" />
          <input id="Descripcion" name="Descripcion" [(ngModel)]="ColorInput"
            placeholder="Color" required #Descripcion="ngModel" />
          <input id="date" name="date" [(ngModel)]="TallaInput"
            placeholder="Talla " required #date="ngModel" />
          <input id="Descripcion" name="Descripcion" [(ngModel)]="PersonaInput"
            placeholder="Nombre de quien lo encontro" required #Descripcion="ngModel" />
          <input type="file" accept="image/*" (change)="onFileSelected($event)" />
          <div *ngIf="ImagenInput" class="preview-image">
            <img [src]="ImagenInput" alt="Vista previa" />
          </div>
          <button type="submit" [disabled]="registerForm.invalid">
            Agregar objeto
          </button>
          <div class="form-bottom-space">
          </div>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card class="filtro-busqueda-box">
      <ion-card-content>
        <div class="filtro-bar">
          <ion-item>
            <ion-label position="floating">Buscar por color</ion-label>
            <ion-input [(ngModel)]="searchColor"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Buscar por talla</ion-label>
            <ion-input [(ngModel)]="searchTalla"></ion-input>
          </ion-item>
          <ion-button expand="block" (click)="buscarPorFiltros()" class="buscar-btn">
            Buscar
          </ion-button>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col><b>Prenda</b></ion-col>
            <ion-col><b>Talla</b></ion-col>
            <ion-col><b>Color</b></ion-col>
            <ion-col><b>Persona</b></ion-col>
          </ion-row>
          <ion-row *ngFor="let item of filteredTasks" class="cosa-card">
            <ion-col class="cosa-info">{{ item.Prenda }}</ion-col>
            <ion-col class="cosa-info">{{ item.Color }}</ion-col>
            <ion-col class="cosa-info">{{ item.Talla }}</ion-col>
            <ion-col class="cosa-info">{{ item.Persona }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- Todos los objetos -->
    <ion-card class="cosas-lista" style="margin-bottom: 2rem;">
      <ion-card-content>
        <h2 class="all-things-title">Todos los objetos</h2>
        <ion-grid>
          <ion-row>
            <ion-col><b>Prenda</b></ion-col>
            <ion-col><b>Talla</b></ion-col>
            <ion-col><b>Color</b></ion-col>
            <ion-col><b>Persona</b></ion-col>
            <ion-col><b>Imagen</b></ion-col>
            <ion-col><b>Borrar</b></ion-col>
            <ion-col><b>Editar</b></ion-col>
          </ion-row>
          <ion-row *ngFor="let item of tasks$ | async; let indice = index" class="cosa-card">
            <ion-col class="cosa-info">{{ item.Prenda }}</ion-col>
            <ion-col class="cosa-info">{{ item.Color }}</ion-col>
            <ion-col class="cosa-info">{{ item.Talla }}</ion-col>
            <ion-col class="cosa-info">{{ item.Persona }}</ion-col>
            <ion-col class="cosa-info">
              <img *ngIf="item.Imagen" [src]="item.Imagen" alt="Imagen" class="image-preview-small" />
            </ion-col>
            <ion-col class="cosa-actions">
              <button (click)="borrar(item.id!)">Borrar</button>
            </ion-col>
            <ion-col class="cosa-actions">
              <button (click)="Editar(item.id!, item)">Editar</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- Objetos eliminados -->
    <ion-card class="cosas-lista" style="margin-bottom: 2rem;">
      <ion-card-content>
        <h2 class="deleted-things-title">Objetos Eliminados</h2>
        <ion-grid>
          <ion-row>
            <ion-col><b>Prenda</b></ion-col>
            <ion-col><b>Talla</b></ion-col>
            <ion-col><b>Color</b></ion-col>
            <ion-col><b>Persona</b></ion-col>
            <ion-col><b>Imagen</b></ion-col>
          </ion-row>
          <ion-row *ngFor="let item of eliminatedTasks$ | async; let indice = index" class="cosa-card">
            <ion-col class="cosa-info">{{ item.Prenda }}</ion-col>
            <ion-col class="cosa-info">{{ item.Color }}</ion-col>
            <ion-col class="cosa-info">{{ item.Talla }}</ion-col>
            <ion-col class="cosa-info">{{ item.Persona }}</ion-col>
            <ion-col class="cosa-info">
              <img *ngIf="item.Imagen" [src]="item.Imagen" alt="Imagen" class="image-preview-small" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- cerrar sesión -->
    <div class="logout-button-container">
      <button (click)="onSignUp()" type="button">
        Cerrar sesión
      </button>
    </div>

  </div>
</ion-content>