<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> App cosas perdidas |Contraseña olvidada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding bg-black">
  <div id="container">
    <div class="form-wrapper">
      <strong>Recuperar contraseña</strong>
      <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Ingresa tu correo electrónico"
          required
          [(ngModel)]="emailInput"
          #email="ngModel"
        />
        <button type="submit" [disabled]="registerForm.invalid">
          Enviar contraseña
        </button>
      </form>
      <button type="button" (click)="onSignUp()">
        Ir a iniciar sesión
      </button>
    </div>
  </div>
</ion-content>